<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="text-box max-center">
        <div class="content wow fadeInUp">
          People drive our success. We seek highly motivated, intellectually honest and humble individuals who bring
          diverse experiences and perspectives to their work.
        </div>
        <a href="" class="search-jobs wow fadeInUp">Search jobs</a>
      </div>
      <img src="/public/images/banner-job.png" alt="" class="bg-img">
    </section>
    <section class="culture-container">
      <div class="culture-center max-center">
        <div class="title wow fadeInUp">Our culture: </div>
        <div class="subtitle wow fadeInUp">Drawing inspiration from each other</div>
        <div class="content wow fadeInUp">
          <p>
            We approach complex problems with thoughtfulness, creativity and a commitment to improve and grow. We
            welcome challenges and embrace the opportunity to make a positive impact – at work and in our communities.
          </p>
          <p>
            Our values shape how we approach our work – with intellectual honesty, analytical rigor, individual
            accountability, integrity and a drive to continuously improve.
          </p>
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>